@model List<ToDoList.Models.ToDoItem>

@{
    ViewData["Title"] = "To-Do List";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar vh-100">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fa fa-list"></i> All Tasks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-calendar"></i> Today
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-clock"></i> Overdue
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-user"></i> Assigned To Me
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-cog"></i> Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">@ViewData["Title"]</h1>
                <a href="@Url.Action("Create", "ToDo")" class="btn btn-primary">Create New Task</a>
            </div>

            <!-- Task List -->
            <div class="row">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Title</h5>
                                    <p>Status: <span class="badge @ToDoHelpers.GetStatusClass(item.Status)">@item.Status</span></p>
                                    <p>Assigned To: @item.AssignedTo</p>
                                    <p>Date Started: @item.DateStarted.ToString("MMM dd, yyyy hh:mm tt")</p>

                                    @if (item?.DateOfCompletion.HasValue ?? false)
                                    {
                                        <p>Date Completed: @item.DateOfCompletion.Value.ToString("MMM dd, yyyy hh:mm tt")</p>
                                    }
                                    else
                                    {
                                        <p>Date Completed: Not Completed</p>
                                    }

                                    <a href="@Url.Action("Edit", "ToDo", new { id = item.Id })" class="btn btn-primary">Edit</a>
                                    <a href="@Url.Action("Delete", "ToDo", new { id = item.Id })" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No tasks available.</p>
                }
            </div>
        </main>
    </div>
</div>